.post-title:hover, .social-media-btns a {
  text-decoration: none;
}

#post-search {
  letter-spacing: 1.5px;
}

#post-search:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.fa.fa-search {
  color: #95a5a6;
}

#search-btn:hover {
  background-color: #f6f6f6 !important;
}

#search-btn:hover > .fa.fa-search {
  color: #000;
}

.post-title, .post-info, #post-search, #popular-posts-heading, .share {
  text-transform: uppercase;
}

.post-synopsis {
  line-height: 1.8;
  word-wrap: nowrap;
}

.share {
  font-weight: bold;
}

#popular-posts li {
  border-left: none;
  border-right: none;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #1F9BCF;
  color: #fff;
}

#myTabContent .tab-pane {
  border-top: none;
}

#myTabContent .tab-pane .item {
  padding: 5px 10px;
}

#myTabContent .tab-pane .item a {
  text-decoration: none;
}
