{% extends "base.html" %}

{% block body %}
  <a href="{{ url_for('blog_create') }}" class="btn btn-success mb-2">New Post</a>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% for post in posts %}
    <div class="card">
      <h5 class="card-header">
        <a href="{{ url_for('blog_view', post_id=post.id, slug=post.slug) }}">{{ post.title }}</a>
      </h5>

      <div class="card-body">
        <p class="card-text">{{ post.html_content }}</p>
      </div>
    </div>
  {% endfor %}
  <ul>
{% endblock %}
